
{% extends "layout.html" %}

{% block script %}{% endblock %}
{% block title %}Bookify{% endblock %}

      {% block main %}
            <div id='header-section' style="height:45em;">
                <div id='search_area'>
                    <h1 id='Logo'>Bookify!</h1>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We help you search and find info about millions of books</p>
                    <div id='search_box'>
                        <form action="/ " method="post">
                            <input  placeholder='Search books, authors and categories' name='search_words' id='search' type=text width="300px">
                            <button type="submit" id='submit' class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
      {% endblock %}
    </body>
</html>
